h1{
    font-size: 18px;
    border: 1px solid var(--ion-color-primary);
    border-radius: 5px;
    padding: 5px;
    color: var(--ion-color-primary);
}
.offer-detail{
    display: flex;
    align-items: center;
    font-size: 12px;

    .space-left{
      margin-left: 5px;
    }
}